@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes/light';
@import 'https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

body {
    overflow-x: hidden;

    margin-right: calc(-1 * (100vw - 100%));

    font-family: var(--font-family);
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);

    &::-webkit-scrollbar-track {
        position: absolute;
        background-color: var(--color-bg-primary);
        border-radius: 8px;
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: var(--color-bg-primary);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-invert-48);
        border-radius: 8px;
    }
}

.app {
    min-height: 100vh;
    color: var(--color-text-primary);
    background: var(--color-bg-primary);
}
