:root {
    --font-family: 'Source Code Pro';
    --font-size-s: 14px;
    --font-line-s: 22px;
    --font-weight-s: 400;
    --font-size-m: 18px;
    --font-line-m: 26px;
    --font-weight-m: 500;
    --font-size-l: 22px;
    --font-line-l: 30px;
    --font-weight-l: 600;
    --icon-size-s: 28px;
    --icon-size-m: 32px;
    --icon-size-l: 36px;
    --icon-padding: 4px;
    --sidebar-size: 168px;
    --sidebar-size-mobile: 44px;
    --header-size: 44px;
    --border-radius: 8px;
    --padding-s: 4px 12px;
    --padding-m: 8px 20px;
    --padding-l: 12px 28px;
    --modal-z-index: 10;
    --overlay-color: #00000080;
    --color-text-error: #ef4444;
    --color-white: #fff;
    --modal-max-width: 480px;
}
