.profileCardMedium {
    display: flex;
    gap: 16px;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.buttons {
    display: flex;
    gap: 4px;
}

@media (max-width: 768px) {
    .buttons {
        flex-direction: column;
    }
}
