.button {
    cursor: pointer;

    padding: 0;

    color: var(--color-text-primary);

    border: none;
    outline: none;

    &:focus {
        outline: none;
    }
}

.clean {
    background: none;
}

.primary {
    background: var(--color-bg-secondary);
    border-radius: var(--border-radius);
}

.primary.disabled {
    cursor: auto;
    background: var(--color-disabled);
}

.small {
    height: 32px;
    padding: var(--padding-s);

    font-size: var(--font-size-s);
    font-weight: var(--font-weight-400);
    line-height: var(--font-line-s);
}

.medium {
    height: 44px;
    padding: var(--padding-m);

    font-size: var(--font-size-m);
    font-weight: var(--font-weight-500);
    line-height: var(--font-line-m);
}
