.button {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.clean {
    padding: 0;

    color: var(--color-text-primary);

    background: none;
    border: none;
    outline: none;
}

.primary {
    color: var(--accent-contrast-color);
    background: var(--linear-gradient-accent);
    border: none;
    border-radius: var(--border-radius);
}

.primary.disabled {
    background: var(--linear-gradient-accent-disabled);
}

.small {
    height: 30px;
    padding: var(--padding-s);

    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
    line-height: var(--font-line-s);
}

.medium {
    height: 42px;
    padding: var(--padding-m);

    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);
    line-height: var(--font-line-m);
}
