.avatar {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-white);

    border-radius: 50%;
}

.small .text {
    font-size: 24px;
}

.medium .text {
    font-size: 36px;
}

.large .text {
    font-size: 48px;
}

.avatar.small {
    width: 64px;
    min-width: 64px;
    height: 64px;
}

.avatar.medium {
    width: 92px;
    min-width: 92px;
    height: 92px;
}

.avatar.large {
    width: 120px;
    min-width: 120px;
    height: 120px;
}

.green {
    background: linear-gradient(135deg, #34d399 0%, #059669 100%);
}

.teal {
    background: linear-gradient(135deg, #2dd4bf 0%, #0d9488 100%);
}

.blue {
    background: linear-gradient(135deg, #60a5fa 0%, #2563eb 100%);
}

.indigo {
    background: linear-gradient(135deg, #818cf8 0%, #4f46e5 100%);
}

.purple {
    background: linear-gradient(135deg, #a78bfa 0%, #7c3aed 100%);
}

.pink {
    background: linear-gradient(135deg, #f472b6 0%, #db2777 100%);
}

.red {
    background: linear-gradient(135deg, #f87171 0%, #dc2626 100%);
}

.orange {
    background: linear-gradient(135deg, #fb923c 0%, #ea580c 100%);
}

.yellow {
    background: linear-gradient(135deg, #fbbf24 0%, #d97706 100%);
}

.online {
    position: absolute;
    background: #4bb34b;
    border-radius: 50%;


}

.online.small {
    right: 1px;
    bottom: 1px;

    width: 16px;
    height: 16px;

    border: 2px solid var(--color-bg-primary);
}

.online.medium,
.online.large {
    border: 3px solid var(--color-bg-primary);
}

.online.medium {
    right: 4px;
    bottom: 4px;
    width: 18px;
    height: 18px;
}

.online.large {
    right: 7px;
    bottom: 7px;
    width: 20px;
    height: 20px;
}
