.avatar {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-white);

    border-radius: 50%;
}

.text {
    user-select: none;
}

.extraSmall .text {
    font-size: 12px;
}

.small .text {
    font-size: 24px;
}

.medium .text {
    font-size: 32px;
}

.large .text {
    font-size: 48px;
}

.avatar.extraSmall {
    width: 36px;
    min-width: 36px;
    height: 36px;
    min-height: 36px;
}

.avatar.small {
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
}

.avatar.medium {
    width: 80px;
    min-width: 80px;
    height: 80px;
    min-height: 80px;
}

.avatar.large {
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
}

.green {
    background: linear-gradient(180deg, #34d399 0%, #059669 100%);
}

.teal {
    background: linear-gradient(180deg, #2dd4bf 0%, #0d9488 100%);
}

.blue {
    background: linear-gradient(180deg, #60a5fa 0%, #2563eb 100%);
}

.indigo {
    background: linear-gradient(180deg, #818cf8 0%, #4f46e5 100%);
}

.purple {
    background: linear-gradient(180deg, #a78bfa 0%, #7c3aed 100%);
}

.pink {
    background: linear-gradient(180deg, #f472b6 0%, #db2777 100%);
}

.red {
    background: linear-gradient(180deg, #f87171 0%, #dc2626 100%);
}

.orange {
    background: linear-gradient(180deg, #fb923c 0%, #ea580c 100%);
}

.yellow {
    background: linear-gradient(180deg, #fbbf24 0%, #d97706 100%);
}

.online {
    position: absolute;
    background: #4bb34b;
    border-radius: 50%;
}

.online.extraSmall,
.online.small,
.online.medium,
.online.large {
    border: 1px solid var(--color-bg-primary);
}

.online.extraSmall {
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
}

.online.small {
    right: 1px;
    bottom: 1px;
    width: 14px;
    height: 14px;
}

.online.medium {
    right: 4px;
    bottom: 4px;
    width: 16px;
    height: 16px;
}

.online.large {
    right: 8px;
    bottom: 8px;
    width: 18px;
    height: 18px;
}
