.sidebar {
    display: flex;
    flex-direction: column;
    gap: 4px;

    width: 100%;
    max-width: 160px;
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        bottom: 0;

        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 100vw;
        min-width: 100vw;
        height: var(--sidebar-size);
        padding: 0 32px;
    }
}
