.sidebarItem {
    display: flex;
    gap: 4px;
    align-items: center;

    width: 100%;
    max-width: var(--sidebar-size);
    height: 32px;
    padding: 0 8px;

    border-radius: var(--border-radius);

    .icon {
        width: var(--icon-size-s);
        min-width: var(--icon-size-s);
        height: var(--icon-size-s);
        padding: var(--icon-padding);

        fill: var(--color-text-secondary);
        stroke: var(--color-text-secondary);
    }

    &:hover {
        background: var(--color-bg-secondary);
    }
}

@media (max-width: 768px) {
    .sidebarItem {
        width: var(--icon-size-s);
        height: var(--icon-size-s);
        padding: 0;
        border-radius: 50%;
    }

    .text {
        display: none;
    }
}
