.sidebarItem {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 160px;

    border-radius: var(--border-radius);

    transition: background 0.2s ease-in-out;

    .icon {
        min-width: var(--icon-size-m);
        max-width: var(--icon-size-m);
        height: var(--icon-size-m);
        padding: var(--icon-padding);

        stroke: var(--color-text-secondary);

        transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
    }

    &:hover {
        background: var(--color-bg-secondary);
    }
}

@media (max-width: 768px) {
    .text {
        display: none;
    }

    .sidebarItem {
        width: var(--icon-size-m);
        height: var(--icon-size-m);
        border-radius: 50%;
    }
}
