.sidebarItem {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 160px;

    border-radius: var(--border-radius);

    transition: var(--transition);
    transition-property: background;

    .icon {
        min-width: var(--icon-size-s);
        max-width: var(--icon-size-s);
        height: var(--icon-size-s);
        padding: var(--icon-padding);

        fill: var(--color-text-secondary);
        stroke: var(--color-text-secondary);

        transition: var(--transition);
        transition-property: fill, stroke;
    }

    &:hover {
        background: var(--color-bg-secondary);
    }
}

@media (max-width: 768px) {
    .text {
        display: none;
        width: 0;
    }

    .sidebarItem {
        width: var(--icon-size-m);
        height: var(--icon-size-m);
        border-radius: 50%;
    }
}
