.notFoundPage {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    font-size: 22px;
    color: var(--color-text-primary);
    text-rendering: optimizelegibility;

    svg {
        width: 56px;
        height: auto;
    }

    > div {
        position: relative;

        overflow: hidden;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;

        svg {
            position: relative;
            z-index: 1;

            polygon {
                fill: var(--color-bg-primary);
            }
        }

        span {
            display: block;
            padding: 0 12px;
        }

        &:first-child {
            z-index: 1;
            text-align: right;

            span:first-child {
                transform: translateX(100%);
                opacity: 0;
                animation: translateLeft 1000ms linear 1250ms forwards;
            }

            span:last-child {
                transform: translateX(100%);
                opacity: 0;
                animation: translateLeft 1000ms linear 1450ms forwards;
            }
        }

        &:last-child {
            z-index: 0;
            margin-left: -50px;

            span:first-child {
                transform: translateX(-100%);
                opacity: 0;
                animation: translateRight 1000ms linear 1650ms forwards;
            }

            span:last-child {
                transform: translateX(-100%);
                opacity: 0;
                animation: translateRight 1000ms linear 1850ms forwards;
            }
        }
    }

    @media (max-width: 440px) {
        font-size: var(--font-size-m);
    }
}

.link {
    cursor: pointer;

    display: block;

    font-weight: 500;
    color: var(--text-color-primary);
    text-decoration: none;

    animation: pulseColor 1250ms ease-in-out 2500ms forwards;
    animation-iteration-count: infinite;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &:active {
        color: var(--accent-color);
    }
}

.crack {
    position: relative;
    z-index: 4;
    margin-left: -50px;

    polyline {
        fill: var(--color-bg-primary);
        stroke: var(--accent-color);
        stroke-dasharray: 1650;
        stroke-dashoffset: 1650;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 8px;

        animation: drawStroke 1400ms ease-in-out 500ms forwards;
    }
}

@keyframes drawStroke {
    0% {
        stroke-dashoffset: 1650;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes pulseColor {
    0% {
        color: var(--text-color-primary);
    }

    50% {
        color: var(--accent-color);
    }

    100% {
        color: var(--text-color-primary);
    }
}

@keyframes translateLeft {
    0% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 150, 0, 0, 1);
        opacity: 1;
    }

    7.61% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 69.561, 0, 0, 1);
    }

    11.41% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 39.355, 0, 0, 1);
    }

    15.12% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 17.801, 0, 0, 1);
    }

    18.92% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.02, 0, 0, 1);
    }

    22.72% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -5.661, 0, 0, 1);
    }

    30.23% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -10.852, 0, 0, 1);
    }

    50.25% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.282, 0, 0, 1);
    }

    70.27% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.519, 0, 0, 1);
    }

    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        opacity: 1;
    }
}

@keyframes translateRight {
    0% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -150, 0, 0, 1);
        opacity: 1;
    }

    7.61% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -69.561, 0, 0, 1);
    }

    11.41% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -39.355, 0, 0, 1);
    }

    15.12% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -17.801, 0, 0, 1);
    }

    18.92% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.02, 0, 0, 1);
    }

    22.72% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.661, 0, 0, 1);
    }

    30.23% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 10.852, 0, 0, 1);
    }

    50.25% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.282, 0, 0, 1);
    }

    70.27% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.519, 0, 0, 1);
    }

    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        opacity: 1;
    }
}
