.logo {
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;

    .logoIcon {
        width: var(--icon-size-m);
        height: var(--icon-size-m);
        padding: var(--icon-padding);
        filter: grayscale(100%);
    }

    &:hover {
        .logoIcon {
            filter: none;
        }
    }
}
