.input {
    border: none;
    border-radius: var(--border-radius);
    outline: none;

    &:focus {
        outline: none;
    }
}

.small {
    height: 32px;
    padding: var(--padding-s);

    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
    line-height: var(--font-line-s);
}

.medium {
    height: 44px;
    padding: var(--padding-m);

    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);
    line-height: var(--font-line-m);
}

.clear,
.primary,
.secondary,
.outline {
    color: var(--color-text-primary);
}

.clear {
    background: transparent;
}

.primary {
    background: var(--color-bg-primary);
}

.secondary {
    background: var(--color-bg-secondary);
}

.outline {
    background: transparent;
    border-bottom: 1px solid var(--color-bg-secondary);
    border-radius: 0;

    transition: var(--transition);
    transition-property: border;
}
