.authLayout {
    display: flex;
    justify-content: center;
}

.container {
    position: relative;

    display: flex;
    justify-content: flex-start;

    box-sizing: border-box;
    width: 100%;
    max-width: 1080px;
    padding: calc(var(--header-size) + 16px) 16px 16px;
}

.page {
    width: 100%;
    margin-left: calc(var(--sidebar-size) + 16px);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 8px 8px var(--sidebar-size-mobile);
    }

    .page {
        margin: 0;
    }

    .header {
        display: none;
    }
}
