.friendsSidebar {
    display: flex;
    flex-direction: column;
    gap: 4px;

    width: 240px;
    min-width: 240px;
}

.friendsStatus {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (max-width: 768px) {
    .friendsSidebar {
        align-items: center;
        width: auto;
    }

    .friendsStatus {
        flex-direction: row;
        justify-content: center;
    }
}
