.chatHeader {
    position: fixed;
    z-index: 10;
    top: calc(var(--header-size));

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 608px;
    height: 60px;
    padding-top: 16px;

    background: var(--color-bg-primary);
}

.button {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 4px;
}

@media (max-width: 768px) {
    .chatHeader {
        top: 0;
        width: calc(100vw - 32px);
        padding: 0;
    }

    .buttonText {
        display: none;
    }
}
