.typography {
    color: inherit;
}

.smallSize {
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
}

.mediumSize {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
}

.largeSize {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
}

.normalWeight {
    font-weight: var(--font-weight-400);
}

.mediumWeight {
    font-weight: var(--font-weight-500);
}

.semiWeight {
    font-weight: var(--font-weight-600);
}

.boldWeight {
    font-weight: var(--font-weight-700);
}

.primary {
    color: var(--color-text-primary);
}

.secondary {
    color: var(--color-text-secondary);
}

.accentContrast {
    color: var(--color-white);
}

.error {
    color: var(--color-text-error);
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
