.darkTheme {
    --color-bg-primary: #222226;
    --color-bg-secondary: #333336;
    --color-bg-icon: #1c1c1c;
    --color-text-primary: #edeef0;
    --color-text-secondary: #909090;
    --color-invert-12: #ffffff12;
    --color-disabled: #ffffff20;
}
