.lightTheme {
    --color-bg-primary: #fff;
    --color-bg-secondary: #edeef0;
    --color-bg-icon: #f9fafb;
    --color-text-primary: #333336;
    --color-text-secondary: #707070;
    --color-invert-12: #00000012;
    --color-invert-48: #00000048;
    --color-disabled: #00000020;
}
