.header {
    position: fixed;
    z-index: 1;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 52px;

    background: var(--color-bg-secondary);
}

.container {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    max-width: 1080px;
    padding: 0 16px;
}
