.friendsPage {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

@media (max-width: 768px) {
    .friendsPage {
        flex-direction: column-reverse;
        gap: 0;
        align-items: center;
    }
}
