.friendsChooseStatus {
    display: flex;
    flex-direction: column;
    gap: 4px;

    width: 200px;
    min-width: 200px;
}

@media (max-width: 768px) {
    .friendsChooseStatus {
        flex-flow: row wrap;
        justify-content: center;
        width: auto;
    }
}
