.profileCardSmall {
    cursor: pointer;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 92px;

    border-radius: var(--border-radius);

    &:hover {
        background: var(--color-bg-secondary);
    }
}
