.icon {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
    padding: var(--icon-padding);

    fill: var(--color-text-secondary);
    stroke: var(--color-text-secondary);
}

.container {
    display: flex;
    gap: 4px;
    align-items: center;

    height: 32px;
    padding: 0 8px;

    border-radius: var(--border-radius);

    &:hover {
        background: var(--color-bg-secondary);
    }
}

@media (max-width: 768px) {
    .text {
        display: none;
    }

    .container {
        width: var(--icon-size-s);
        height: var(--icon-size-s);
        padding: 0;
        border-radius: 50%;
    }
}
