.icon {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
    padding: var(--icon-padding);

    fill: var(--color-text-secondary);
    stroke: var(--color-text-secondary);

    transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.container {
    display: flex;
    align-items: center;

    &:hover {
        .icon {
            fill: var(--accent-light-color);
            stroke: var(--accent-light-color);
        }
    }
}

@media (max-width: 768px) {
    .text {
        display: none;
    }
}
