.icon {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
    padding: var(--icon-padding);

    fill: var(--color-text-secondary);
    stroke: var(--color-text-secondary);

    transition: var(--transition);
    transition-property: fill, stroke;
}

.container {
    display: flex;
    align-items: center;

    border-radius: var(--border-radius);

    transition: var(--transition);
    transition-property: background;

    &:hover {
        background: var(--color-bg-secondary);
    }
}

@media (max-width: 768px) {
    .text {
        display: none;
    }

    .container {
        width: var(--icon-size-m);
        height: var(--icon-size-m);
        border-radius: 50%;
    }
}
